<!DOCTYPE html>
<html>
<head>
  <title>Party</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header><marquee>IANS PARTY!!!</marquee></header>
<%= yield %>
<footer>copyright 1995 Trend Macro Systems</footer>
</body>
</html>
